-- DROP DATABASE FINAL

USE [master]
GO
/****** Object:  Database [FINAL]    Script Date: 8/13/2023 11:36:17 AM ******/
CREATE DATABASE [FINAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FINAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FINAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FINAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FINAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINAL]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[id] [uniqueidentifier] NOT NULL,
	[slug] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[createAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILORDERS]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILORDERS](
	[id] [uniqueidentifier] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](38, 2) NOT NULL,
	[idOrder] [uniqueidentifier] NULL,
	[idProduct] [uniqueidentifier] NULL,
	[createAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[id] [uniqueidentifier] NOT NULL,
	[status] [int] NULL,
	[total] [decimal](38, 2) NULL,
	[createAt] [datetime] NOT NULL,
	[idUser] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[detail] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[type] [nvarchar](255) NULL,
	[createAt] [datetime] NULL,
	[idUser] [uniqueidentifier] NULL,
	[pathImg] [nvarchar](max) NULL,
	[idCategory] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](20) NULL,
	[createAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 8/13/2023 11:36:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](40) NOT NULL,
	[name] [nvarchar](40) NULL,
	[password] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[pathImg] [nvarchar](max) NULL,
	[idRole] [uniqueidentifier] NULL,
	[createAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE PRODUCT_UNIT (
    id UNIQUEIDENTIFIER DEFAULT NEWID(),
    product_id UNIQUEIDENTIFIER,        -- liên kết về sản phẩm gốc (ví dụ hộp 24 viên)
    name NVARCHAR(50),                  -- Tên đơn vị (hộp, vỉ 6 viên, vỉ 3 viên, viên)
    quantity INT,                       -- Số viên tương ứng đơn vị này (vd hộp=24, vỉ=6, viên=1)
    price DECIMAL(18,2),                -- Giá bán lẻ cho đơn vị này
    PRIMARY KEY (id),
    FOREIGN KEY (product_id) REFERENCES PRODUCT(id) ON DELETE CASCADE
)
select * from PRODUCT_UNIT
SELECT * FROM PROMOTION
SELECT * FROM PRODUCT_PROMOTION
-- Blackmores Omega Double High Strength Fish Oil (Hộp 90 viên, Vỉ 6 viên, Viên lẻ)
INSERT INTO PRODUCT_UNIT (id, product_id, name, quantity, price)
VALUES
  (NEWID(), '0bd1ac01-cf6f-4b4a-8fa5-537e0ff1ff3e', N'Hộp 90 viên', 90, 662000),
  (NEWID(), '0bd1ac01-cf6f-4b4a-8fa5-537e0ff1ff3e', N'Vỉ 6 viên', 6, 50000),
  (NEWID(), '0bd1ac01-cf6f-4b4a-8fa5-537e0ff1ff3e', N'Viên lẻ', 1, 9000);

-- Promax New Siro (Chai 100ml, Gói 10ml)
INSERT INTO PRODUCT_UNIT (id, product_id, name, quantity, price)
VALUES
  (NEWID(), 'b5c8ba7b-9293-415b-8725-412e3062dba4', N'Chai 100ml', 100, 65000),
  (NEWID(), 'b5c8ba7b-9293-415b-8725-412e3062dba4', N'Gói 10ml', 10, 8000);

-- Banobagi Vita Genic Jelly Mask (1 miếng)
INSERT INTO PRODUCT_UNIT (id, product_id, name, quantity, price)
VALUES
  (NEWID(), 'a7d3568e-43e1-4685-b4f3-0fe8400ffee5', N'Miếng lẻ', 1, 25000);

-- Acnes 25+ Facial Wash (Tuýp 100g, Gói 10g)

-- Sữa chống nắng Cancer Council (Chai 50ml, Gói 5ml)
CREATE TABLE PROMOTION (
    id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    name NVARCHAR(100),
    description NVARCHAR(255),
    discount_percent INT,            -- hoặc NULL nếu dùng discount_amount
    discount_amount DECIMAL(18,2),   -- hoặc NULL nếu dùng discount_percent
    start_date DATETIME,
    end_date DATETIME,
    code NVARCHAR(50) NULL,          -- Nếu về sau có mã code
    is_active BIT DEFAULT 1
);
INSERT INTO PROMOTION (id, name, description, discount_percent, discount_amount, start_date, end_date, code, is_active)
VALUES
  ('A1111111-1111-1111-1111-111111111111', N'Summer Sale 2025', N'Giảm 10% cho hàng hot mùa hè', 10, NULL, '2025-07-19', '2025-07-31', 'SUMMER25', 1),
  ('B2222222-2222-2222-2222-222222222222', N'Trợ giá mùa mưa', N'Giảm 35.000đ cho các sản phẩm chọn lọc', NULL, 35000, '2025-07-19', '2025-08-01', 'TROGIA35K', 1);

CREATE TABLE PRODUCT_PROMOTION (
    id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    product_id UNIQUEIDENTIFIER NOT NULL,
    promotion_id UNIQUEIDENTIFIER NOT NULL,
    FOREIGN KEY (product_id) REFERENCES PRODUCT(id),
    FOREIGN KEY (promotion_id) REFERENCES PROMOTION(id)
);
-- Gắn Summer Sale 2025 cho 3 sản phẩm
INSERT INTO PRODUCT_PROMOTION (id, product_id, promotion_id)
VALUES
  (NEWID(), '0bd1ac01-cf6f-4b4a-8fa5-537e0ff1ff3e', 'A1111111-1111-1111-1111-111111111111'), -- Blackmores
  (NEWID(), 'a7d3568e-43e1-4685-b4f3-0fe8400ffee5', 'A1111111-1111-1111-1111-111111111111'), -- Banobagi
  (NEWID(), '35319f09-e2e4-4047-a485-211ff8e0cdbf', 'A1111111-1111-1111-1111-111111111111'); -- Cancer Council

-- Gắn Trợ giá mùa mưa cho 2 sản phẩm còn lại
INSERT INTO PRODUCT_PROMOTION (id, product_id, promotion_id)
VALUES
  (NEWID(), 'b5c8ba7b-9293-415b-8725-412e3062dba4', 'B2222222-2222-2222-2222-222222222222'), -- Promax New Siro
  (NEWID(), 'd837d018-65d5-42aa-928a-666fe3638cd8', 'B2222222-2222-2222-2222-222222222222'); -- Acnes 25+

GO
INSERT [dbo].[CATEGORY] ([id], [slug], [name], [createAt]) VALUES (N'4dfe78c2-4efa-4a72-a9cd-6b700390ad01', N'duoc-pham', N'Dược phẩm', CAST(N'2023-06-24T13:30:45.687' AS DateTime))
INSERT [dbo].[CATEGORY] ([id], [slug], [name], [createAt]) VALUES (N'5007207d-ed82-4f50-af26-b42635230538', N'cham-soc-suc-khoe', N'Chăm sóc sức khỏe', CAST(N'2023-06-24T13:30:45.687' AS DateTime))
INSERT [dbo].[CATEGORY] ([id], [slug], [name], [createAt]) VALUES (N'be314ffd-208e-4bdb-915d-b74358abdfe8', N'cham-soc-sac-dep', N'Chăm sóc sắc đẹp', CAST(N'2023-06-24T13:30:45.687' AS DateTime))
GO
INSERT [dbo].[DETAILORDERS] ([id], [quantity], [price], [idOrder], [idProduct], [createAt]) VALUES (N'84d5a44a-83b0-43d7-8859-0f67814ab116', 1, CAST(662000.00 AS Decimal(38, 2)), N'c0e12d75-6196-4415-94c0-cb3b88fee1c5', N'0bd1ac01-cf6f-4b4a-8fa5-537e0ff1ff3e', CAST(N'2023-08-10T23:12:12.897' AS DateTime))
INSERT [dbo].[DETAILORDERS] ([id], [quantity], [price], [idOrder], [idProduct], [createAt]) VALUES (N'cc3b7db6-0ac4-4f6f-a14e-16f9fe404e02', 1, CAST(405000.00 AS Decimal(38, 2)), N'20a2981e-a533-4c29-a56d-10b20cc9aebe', N'd4eb3b2e-2e99-4b17-ab4f-033a0024c769', CAST(N'2023-08-13T11:32:15.983' AS DateTime))
INSERT [dbo].[DETAILORDERS] ([id], [quantity], [price], [idOrder], [idProduct], [createAt]) VALUES (N'b60b00e9-609d-44a2-bb25-278bf2b7a3cd', 3, CAST(175000.00 AS Decimal(38, 2)), N'ade5e9ef-2c48-41c7-9fb7-311f4c43e811', N'6c295d42-5036-456b-b67e-66ad2e287fb9', CAST(N'2023-06-24T13:32:46.463' AS DateTime))
GO
INSERT [dbo].[ORDER] ([id], [status], [total], [createAt], [idUser]) VALUES (N'20a2981e-a533-4c29-a56d-10b20cc9aebe', 1, CAST(810000.00 AS Decimal(38, 2)), CAST(N'2023-08-13T11:32:24.317' AS DateTime), N'4218ade4-d4e6-425e-b937-dd7a5f7695fe')
INSERT [dbo].[ORDER] ([id], [status], [total], [createAt], [idUser]) VALUES (N'ade5e9ef-2c48-41c7-9fb7-311f4c43e811', 2, CAST(1770000.00 AS Decimal(38, 2)), CAST(N'2023-06-24T13:34:03.653' AS DateTime), N'7efb44ec-2891-4342-8856-e2801a296099')
INSERT [dbo].[ORDER] ([id], [status], [total], [createAt], [idUser]) VALUES (N'041a9ff9-4dee-4df2-a8c7-35d65795e3f0', 1, CAST(30000.00 AS Decimal(38, 2)), CAST(N'2023-08-13T11:22:53.620' AS DateTime), N'32fa5441-9c59-4518-bf11-5d9bb0dab94f')
GO
INSERT [dbo].[PRODUCT] ([id], [name], [detail], [quantity], [price], [type], [createAt], [idUser], [pathImg], [idCategory]) VALUES (N'a9b094fa-a6ab-439b-be4c-02952c1e512e', N' Nước tẩy trang chiết xuất từ hoa hồng hữu cơ Calliderm Miscellaire 3In1 (Chai 250ml)', N'', 185, CAST(179000 AS Decimal(18, 0)), N'Chai', CAST(N'2023-06-24T13:30:46.547' AS DateTime), NULL, N'https://data-service.pharmacity.io/pmc-upload-media/production/pmc-ecm-core/__sized__/products/P23700_1-thumbnail-255x255-70.jpg', N'be314ffd-208e-4bdb-915d-b74358abdfe8')
INSERT [dbo].[PRODUCT] ([id], [name], [detail], [quantity], [price], [type], [createAt], [idUser], [pathImg], [idCategory]) VALUES (N'c89a7738-3702-4f16-8132-0314eccc54f8', N'Thực phẩm bảo vệ sức khỏe phòng ngừa biến chứng tiểu đường Boni Diabet (60 viên/hộp)', N'', 263, CAST(405000 AS Decimal(18, 0)), N'Hộp', CAST(N'2023-06-24T13:30:48.323' AS DateTime), NULL, N'https://data-service.pharmacity.io/pmc-upload-media/production/pmc-ecm-core/__sized__/products/P24936_1-thumbnail-255x255-70.jpg', N'598ca132-60e0-414a-be8c-ce5f84fa8665')
GO
INSERT [dbo].[ROLE] ([id], [name], [createAt]) VALUES (N'3eca9f6f-84b8-42da-8a58-bcdb6b64f823', N'Admin', CAST(N'2023-06-24T13:25:12.770' AS DateTime))
INSERT [dbo].[ROLE] ([id], [name], [createAt]) VALUES (N'd6803cd2-3459-4401-890a-d9ec65c46f72', N'Guest', CAST(N'2023-06-24T13:25:12.770' AS DateTime))
GO
INSERT [dbo].[USER] ([id], [email], [name], [password], [address], [phone], [pathImg], [idRole], [createAt]) VALUES (N'32fa5441-9c59-4518-bf11-5d9bb0dab94f', N'vmhsky@gmail.com', N'Võ Minh Hiếu 1', N'minhhieu123', N'Xã Kon Đào - Huyện Đăk Tô', N'0986538788', N'https://res.cloudinary.com/df6mryfkp/image/upload/v1691680093/banthuoclac/kfpol3rt2xvsf4zuducw.png', N'3eca9f6f-84b8-42da-8a58-bcdb6b64f823', NULL)
INSERT [dbo].[USER] ([id], [email], [name], [password], [address], [phone], [pathImg], [idRole], [createAt]) VALUES (N'7efb44ec-2891-4342-8856-e2801a296099', N'vmhsky1@gmail.com', N'Võ Minh Hiếu', N'minhhieu123', N'Xã Kon Đào - Huyện Đăk Tô', N'0986538788', NULL, N'd6803cd2-3459-4401-890a-d9ec65c46f72', CAST(N'2023-06-24T13:32:24.520' AS DateTime))
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[DETAILORDERS] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[DETAILORDERS] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[ROLE] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ROLE] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[USER] ADD  DEFAULT (getdate()) FOR [createAt]
GO
ALTER TABLE [dbo].[DETAILORDERS]  WITH CHECK ADD FOREIGN KEY([idOrder])
REFERENCES [dbo].[ORDER] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAILORDERS]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[PRODUCT] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[CATEGORY] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[USER] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([idRole])
REFERENCES [dbo].[ROLE] ([id])
ON DELETE CASCADE
GO
USE [master]
GO

select * from [dbo].[USER]